<script src="/assets/jquery.countdown.js"></script>

<p><strong><%= link_to product.name, product %></strong></p>
  
  <p><strong>Description: </strong><%= product.description %></p>
  
  <p>
  <% if product.top_bid.present? %>
    <% if current_user && current_user.bids.present? %>
      <% if current_user.bids.any? do |bid| %>
          <% bid.user_id == product.top_bid.user_id %>
        <% end %>
        <strong> Current Bid: </strong><%= product.top_bid_amount %> This is your bid!  
      <% else %>
        <strong> Current Bid: </strong><%= product.top_bid_amount %> 
      <% end %>
    <% end %>  
  <% else %>
    <strong> Starting Price: </strong><%= product.starting_price %> 
  <% end %>
  </p>
  
  <p><strong>Remaining Time: </strong>
    <div id='countdown_<%= product.id %>'><%= product.remaining_time %>
      <span id="clock_<%= product.id %>'"></span>
    </div>
  </p>

  <p></p>

  <% if product.end_time > DateTime.now.utc%>
    <script>
      $('#countdown_<%= product.id %>').countdown('<%= product.strf_time %>', function(event) { 
        $(this).text(
          event.strftime('%-D days %-H h %M min %S sec')
        );
      });
    </script>
  <% end %>
<br>