<h4><%= link_to "Back To Products", products_path %></h4>

<h1><%= @product.name %></h1>

<h2><%= @product.description %></h2>

<h3>$<%= @product.starting_price %></h3>

<h3><div id='countdown'>Remaining time: <%= @product.remaining_time %></div></h3>

  <% if @product.end_time > DateTime.now.utc%>
    <script>
      $('#countdown').countdown('<%= @product.strf_time %>', function(event) { 
        $(this).text(
          event.strftime('%-D days %-H h %M min %S sec')
        );
      });
    </script>
  <% end %>

<h2>Bids</h2> 

<h3>Top bid: <%= if @product.bids.any? %>
              <%


</h3> 