<h4><%= link_to "Back To Products", products_path %></h4>

<%= render partial: "product", locals: { product: @product } %>


<h2>Bids</h2> 

<h3>Top bid: <%= @product.display_bid %>
</h3> 

<% if current_user %>
  <h3>Make a bid</h3>

  <%= form_for([@product, Bid.new]) do |f| %>

    <div class="field">
      <%= f.label :bid_amount_string %><br>
      <%= f.text_field :bid_amount_string %>
    </div>

    <div class="actions" style="margin-top: 10px;">
      <%= f.submit %>
    </div>

  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to make a bid.</p>

<% end %>
